
.product__title {
    font-size: 18px;
    color: black;
}

.product__thumbnail {
    padding-bottom: 10px;
    // margin: 10px;
}

.product__price {
    font-size: 15px;
    color: orangered;
}

.product {
    margin-bottom: 20px;
}